<html>
<head>
  <title>Login</title>
  <meta charset = "utf-8"></meta>
  <script src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/mainMain.css">
</head>
<body>
  <div class="center-outside">
    <div class="center-div">
      <form action="/login" method="post">
        Username<br>
        <input type="text" name="user"></input>
        <br>Password<br>
        <input type="password" name="pass"></input>
        <br><br>
        <input type="submit" value="Submit"></input>
        <a href="/signup">Sign Up</a>
      </form>
    </div>
  </div>
</body>
</html>
