select {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

select:focus {
  outline: none;
}
.detailParent h4 {
  color: rgb(190, 74, 0);
}

.center {
  margin: auto;
  text-align: center;
  display: inline-block;
}
.center-outside {
  text-align: center;
}
.right-align {
  float: right;
}
.addNewItem {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.center-div {
  display: inline-block;
  background-color:#f2f3f5;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}
.cellFormat {
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.dropbtn
{
  background: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown
{
  position: relative;
  display: inline-block;
  background-color:#5b5b5b;
  border: 2px solid #555555;
  border-radius: 4px;
  font-size:14px;
  cursor: pointer;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #8b8b8b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
a {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}
.dropdown-content a
{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover
{
  background-color: #91b6b4;
  -webkit-transition: 0.5s;
}

.dropdown:hover .dropdown-content
{
  display: block;
  -webkit-transition: 0.5s;
}

.dropdown:hover .dropbtn {
  background-color: #a1a1a1;
  -webkit-transition: 0.5s;
}
.ignore-css
{
    all:unset;
}
#map {
  height: 100;
  width: 100;
}
