img
{
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

h1, h2, h3, h4 {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h1 {
  color: #2e2e2e;
}
h3, h4 {
  display: inline-block;
  margin: 8;
}

::selection {
	text-shadow: none;
	background: #6f997e;
}

fieldset {
  border:2px solid rgb(68, 80, 77);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  width:70%;
}
textarea {
  width: 900;
  font-family: inherit;
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 8px 13px;
}
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}
textarea:hover {
  background-color:#c4ccd9 ;
  border: 3px solid #979ea4 ;
  -webkit-transition: 0.5s;
}

.center-outside {
  text-align: center;
}

.center-div {
  display: inline-block;
  background-color:#f2f3f5;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

body {
  background: white;
  color: #6a7480;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:20px;
}

input[type=text] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 8px 13px;
  width: 500;
  font-size:14px;
  cursor: pointer;
}

input[type=submit] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=number] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  border-radius: 4px;
  padding: 12px 20px;
  color: black;
  background-color: #e3e5e8;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(175, 178, 232);
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin-top: 10;
  background-color:#e3e5e8;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(175, 178, 232);
}

input[type=button] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}

input[type=password] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=text]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}
input[type=text]:hover {
  background-color:#c4ccd9 ;
  border: 3px solid #979ea4 ;
  -webkit-transition: 0.5s;
}

input[type=password]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=submit]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=number]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input:focus {
  outline: none;
}

select {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  display: block;
}

select:focus {
  outline: none;
}
label {
  font-size:14px;
}
